@import '../../App.css';

.earnMoney {
    background-color: var(--second-bg-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.textBase h1 {
    font-size: 3em;
    color: var(--site-blue-02);
}

.textBase h5 {
    border: 1pt solid var(--site-blue-02);
    padding: 1em;
    font-size: 1.2em;
}



/* Responsive */
@media (max-width:768px) {
    .earnMoney {
        flex-direction: column;
        margin: 1em;
    }

}